* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

.header {
  background: #444;
  width: auto;
  height: auto;
  transition: all ease .2s;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 9;
}

.width-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 70px;
  color: #fff;
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transition: all ease .2s;
  margin: 0 auto;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header li {
  list-style: none;
}

.header .logo {
  width: 70px;
  padding-top: 6px;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .login i {
  margin: 0 5px 0;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.352);
  transition: all ease .3s;
}

.user-right {
  margin-left: 15px;
}

.header .login i:hover {
  color: #fff;
}


.header .login,
.header .navbar {
  padding: 10px;
}

.fa-bars,
.fa-magnifying-glass {
  font-size: 1.1rem;
  margin: 0 5px 0;
  color: rgba(255, 255, 255, 0.352);
  transition: all ease .3s;
}

.menuLeft {
  margin-right: 15px;
}

.fa-magnifying-glass:hover {
  color: #fff;
}

.fa-bars {
  background: rgba(255, 255, 255, 0.132);
  padding: 7px 10px;
  color: #fff;
  border-radius: 3px;
}

.hamburgerMenuContainer {
  width: 100%;
  position: absolute;
  top: 70px;
  right: 0;
  background: #505050f7;
  z-index: 10;
  height: 0;
  overflow: hidden;
  transition: all ease .4s;
}

.hamburgerMenuContainer li a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  cursor: default;
}

.hamburgerMenuContainer li a:hover {
  background: #505050;
}

.hamburgerMenuContainer li:not(:last-child) {
  border-bottom: 1px solid #666;
}


.hamburgerMenuContainer li .active {
  background: #505050;
}

.hamburgerMenuContainer img {
  width: 15px;
}

.hamburgerMenuContainer p {
  margin-right: 10px;
  font-size: .9rem;
}

.hamburgerMenuOpen {
  animation: hamburgerMenu ease .4s forwards;
}

.hamburgerMenuClose {
  animation: hamburgerMenuClose ease .4s forwards;
}




/* .hamburgerMenuOpen {
  animation: hamburgerMenuOpen .3s ease forwards;
}

@keyframes hamburgerMenuOpen {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}

.hamburgerMenuClose {
  animation: hamburgerMenuClose .3s ease forwards;
}

@keyframes hamburgerMenuClose {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-150%);
  }
} */

.header .user-container {
  display: none;
}


.user-container .moreTools {
  position: absolute;
  top: 50px;
  left: 5px;
  background: #333;
  min-width: 210px;
  border-radius: 4px;
  font-size: .85rem;
  padding: 4px 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.user-container .moreTools::before {
  content: ' ';
  position: absolute;
  top: -20px;
  left: 25px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;


}

.user-container .moreTools a {
  padding: 12px 15px;
  display: inline-block;
  text-decoration: none;
  font-size: .8rem;
}

.user-container .moreTools a:hover {
  background: #222;
  width: 100%;
}

.user-container .moreTools li:not(:last-child) {
  border-bottom: 1px solid #54545487;
}

.toolsShow {
  animation: toolsShow ease .3s forwards;
}


.toolsClose {
  animation: toolsClose ease .3s forwards;
}

main {
  width: 100%;
  height: 1000px;
  background: linear-gradient(#7A86B6, #495C83);
}

@keyframes toolsShow {
  0% {
    opacity: 0;
    visibility: hidden;
    top: 50px;
  }
  100% {
    opacity: 1;
    visibility: visible;
    top: 55px;
  }
}

@keyframes toolsClose {
  0% {
    opacity: 1;
    visibility: visible;
    top: 55px;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    top: 50px;
  }
}

@keyframes hamburgerMenu {
  0% {
    height: 0;
  }

  100% {
    height: 207px;
  }
}

@keyframes hamburgerMenuClose {
  0% {
    height: 207px;
  }

  100% {
    height: 0;
  }
}



@media screen and (max-width: 660px) {

  .fa-user,
  .fa-bell,
  .fa-magnifying-glass,
  .hamburgerMenu,
  .logo {
    cursor: default;
  }
}

@media screen and (min-width: 780px) {
  .width-container {
    width: 720px;
  }
}

@media screen and (min-width: 1000px) {
  .width-container {
    width: 920px;
  }

  .header .logo-container {
    order: 3;
  }

  .header .navbar {
    display: none;
  }

  .hamburgerMenuContainer {
    height: fit-content;
    position: static;
    width: auto;
    top: 0;
    right: 0;
    background: none;
    height: auto;
  }

  .hamburgerMenuContainer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }

  .hamburgerMenuContainer li:not(:last-child) {
    border-bottom: none;
  }

  .hamburgerMenuClose {
    animation: none;
  }

  .hamburgerMenuOpen {
    animation: none;
  }

  .hamburgerMenuContainer li a {
    padding: 23px 10px;
    margin: 0 3px;
  }

  .hamburgerMenuContainer li a:first-child {
    margin: 0;
  }

  .hamburgerMenuContainer li a img {
    width: 16px;
  }

  .hamburgerMenuContainer li::after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-right: 1px solid hsla(0, 0%, 100%, .1);
  }

  .logo-container::after,
  .logo-container::before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.134);
    border-right: 1px solid rgba(255, 255, 255, 0.066);
  }
  .header .logo {
    margin: 18px;
  }
  .header .login {
    position: relative;
    right: 84px;
    margin-left: 40px;
    display: flex;
    align-items: center;
  }
  .header .user {
    display: none;

  }
  .header .login .user-container {
    display: flex;
    align-items: center;
    background: #5a5959;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 3px 0px #363434;
    cursor: pointer;
    transition: all ease .2s;
  }
  .header .login .user-container:hover {
    background: #656565;
  }
  .user-container span {
    font-size: .6rem;
    padding-left: 30px;
  }
  .header .user-container .fa-solid {
    font-size: .8rem;
  }
}

@media screen and (min-width: 1200px) {
  .width-container {
    width: 1160px;
  }
  .header .login {
    right: 220px;
  }
}