* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

.header {
  background: #444;
  width: auto;
  height: auto;
  transition: all ease .2s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}

.width-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 70px;
  color: #fff;
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  transition: all ease .2s;
  margin: 0 auto;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header li {
  list-style: none;
}

.header .logo {
  width: 70px;
  padding-top: 6px;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .login i {
  margin: 0 5px 0;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.352);
  transition: all ease .3s;
}

.user-right {
  margin-left: 15px;
}

.header .login i:hover {
  color: #fff;
}


.header .login,
.header .navbar {
  padding: 10px;
}

.fa-bars,
.fa-magnifying-glass {
  font-size: 1.1rem;
  margin: 0 5px 0;
  color: rgba(255, 255, 255, 0.352);
  transition: all ease .3s;
}

.menuLeft {
  margin-right: 15px;
}

.fa-magnifying-glass:hover {
  color: #fff;
}

.fa-bars {
  background: rgba(255, 255, 255, 0.132);
  padding: 7px 10px;
  color: #fff;
  border-radius: 3px;
}

.hamburgerMenuContainer {
  width: 100%;
  position: absolute;
  top: 70px;
  right: 0;
  background: #505050;
  z-index: 10;
  height: 0;
  overflow: hidden;
  transition: all ease .4s;
}

.hamburgerMenuContainer li a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  cursor: default;
}

.hamburgerMenuContainer li a:hover {
  background: #505050;
}

.hamburgerMenuContainer li:not(:last-child) {
  border-bottom: 1px solid #666;
}


.hamburgerMenuContainer li .active {
  background: #505050;
}

.hamburgerMenuContainer img {
  width: 15px;
}

.hamburgerMenuContainer p {
  margin-right: 10px;
  font-size: .9rem;
}

.hamburgerMenuOpen {
  animation: hamburgerMenu ease .4s forwards;
}

.hamburgerMenuClose {
  animation: hamburgerMenuClose ease .4s forwards;
}




/* .hamburgerMenuOpen {
  animation: hamburgerMenuOpen .3s ease forwards;
}

@keyframes hamburgerMenuOpen {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}

.hamburgerMenuClose {
  animation: hamburgerMenuClose .3s ease forwards;
}

@keyframes hamburgerMenuClose {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-150%);
  }
} */

.header .user-container {
  display: none;
}


.user-container .moreTools {
  position: absolute;
  top: 50px;
  left: 5px;
  background: #333;
  min-width: 210px;
  border-radius: 4px;
  font-size: .85rem;
  padding: 4px 0;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.user-container .moreTools::before {
  content: ' ';
  position: absolute;
  top: -20px;
  left: 25px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;


}

.user-container .moreTools a {
  padding: 12px 15px;
  display: inline-block;
  text-decoration: none;
  font-size: .8rem;
}

.user-container .moreTools a:hover {
  background: #222;
  width: 100%;
}

.user-container .moreTools li:not(:last-child) {
  border-bottom: 1px solid #54545487;
}

.toolsShow {
  animation: toolsShow ease .3s forwards;
}


.toolsClose {
  animation: toolsClose ease .3s forwards;
}

/* serach section header */

.section-search {
  margin-top: 70px;
  /* height: 383px; */
  height: 340px;
  width: 100%;
  background: url('./images/hero4.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-search .Introduction {
  width: 100%;
  background: #ffffffe7;
  text-align: center;
}

.main-content {
  width: 100%;
}

.section-search .Introduction h1 {
  padding: 11px 0;
  font-size: 1rem;
  font-weight: bold;
}

.section-search .Introduction p {
  padding: 0 0 11px;
  font-size: .8rem;
  color: #444444aa;
  font-weight: 700;
}

.section-search .Introduction h1 a {
  text-decoration: none;
  border-bottom: 2px dashed #da3a3a;
  color: #da3a3a;
}

.section-search .Introduction span {
  color: #3ab1e4;
  margin-left: -3px;
  font-weight: bold;
}




.section-search .serachBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3f3c3cb0;
  padding: 20px 15px;
  height: 75%;
  border-radius: 3px;
}

.section-search .serachBox>form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 5px;

}

.section-search .serachBox label {
  background-color: #ffffff;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  position: relative;
}

.section-search .serachBox .job:focus {
  box-shadow: inset -1px -1px 3px #333
}

.section-search .serachBox .job {
  padding: 7px 5px;
  background: none;
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding-bottom: 11px;
  padding-right: 40px;
  font-size: 1rem;
}

.section-search .serachBox .job::placeholder {
  font-size: .9rem;
  font-weight: bold;
  color: #68646484;
}

.section-search .serachBox i {
  color: #686464ce;
  font-size: 1.3rem;
  position: absolute;
  right: 8px;

}

.section-search .serachBox button {
  width: 100%;
  margin-top: 10px;
  background: #ffcd70;
  padding: 0 18px;
  height: 45px;
  border: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 45px;
  box-shadow: inset 0 -3px 0 0 #ffb833;
  ;

}

.section-search .serachBox button:hover {
  background-color: #f4ce89;
}

.all {
  background: linear-gradient(to left, #1abc9ce4, #3ab5f2e7);
  padding: 13px;
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all a {
  border-bottom: 1px dashed #fff;
  width: fit-content;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
}

.section-search .last {
  display: none;
  margin: 9px;
  padding: 5px 10px;
  background: #ffffffe0;
  border-radius: 10px;
  font-size: .8rem;
  justify-content: center;
  align-items: center;
}

/* .section-search .last .load {
  width: 15px;
  height: 15px;
  background: #1abc9c;
  background: rgb(207, 199, 199);
  border-radius: 50%;
  margin-left: 5px;
  position: relative;
} */

.section-search .last .load {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  background: rgb(224, 218, 218);
  border-right: 2px solid #1abc9c;
  border-radius: 50%;
  animation: loader linear 1s infinite;
}

.selectCity {
  background-color: #ffffff;
  height: 45px;
  border-radius: 3px;
  margin-right: 2px;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  color: #555555;
  position: relative;
  cursor: pointer;
}


.rotateArrow {
  animation: rotateArrow ease .3s forwards;
}

@keyframes rotateArrow {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(180deg);
  }
}

.rotateArrowRevers {
  animation: rotateArrowRevers ease .3s forwards;
}

@keyframes rotateArrowRevers {
  0% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(0deg);
  }


}

.selectCity .city {
  width: 80%;
  padding-right: 4px;
}

.selectCity .items {
  position: absolute;
  width: 100%;
  top: 42px;
  background: #fff;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 4px;
  opacity: 0;
  visibility: hidden;
  transition: all ease .3s;
}

.showCityBox {
  animation: showCityBox ease .3s forwards;
}

@keyframes showCityBox {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}


.selectCity .items input {
  width: 90%;
  outline: none;
  border: 1px solid #3ab1e4;
  padding: 6px 4px;
  font-size: 12px;
}

.selectCity .items input::placeholder {
  font-size: 14px;
  font-weight: 300;
  color: #555555;
}

.selectCity ul {
  padding: 4px 6px;
  list-style: none;
  height: 230px;
  overflow: auto;
  width: 100%;
}

.selectCity ul li {
  padding: 5px 6px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.104);
  font-size: .9rem;
  cursor: pointer;
}

.selectCity ul li:hover {
  background: rgba(51, 51, 51, 0.104);
}

.selected {
  background: #333;
}






@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);

  }


}

.section-search .last a {
  color: #3ab1e4;
  text-decoration: none;
}

main {
  background: linear-gradient(#3ab1e4, #1abc9c);
  height: 500px;
}


@keyframes toolsShow {
  0% {
    opacity: 0;
    visibility: hidden;
    top: 50px;
  }

  100% {
    opacity: 1;
    visibility: visible;
    top: 55px;
  }
}

@keyframes toolsClose {
  0% {
    opacity: 1;
    visibility: visible;
    top: 55px;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    top: 50px;
  }
}

@keyframes hamburgerMenu {
  0% {
    height: 0;
  }

  100% {
    height: 207px;
  }
}

@keyframes hamburgerMenuClose {
  0% {
    height: 207px;
  }

  100% {
    height: 0;
  }
}



@media screen and (max-width: 660px) {

  .fa-user,
  .fa-bell,
  .fa-magnifying-glass,
  .hamburgerMenu,
  .logo {
    cursor: default;
  }
}

@media screen and (min-width: 780px) {
  .width-container {
    width: 720px;
  }

  .section-search {
    height: 383px;

  }

  .section-search .Introduction {
    width: 400px;
    border-radius: 15px 15px 0 0;
  }

  .section-search .Introduction h1 {
    padding: 20px 0 14px;
  }

  .section-search .Introduction p {
    padding: 0 0 20px;
  }

  .section-search .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-search .serachBox form {
    width: 660px;
  }

  .all {
    padding: 15px;
  }

  .section-search .last {
    display: flex;
  }
}

@media screen and (min-width: 1000px) {
  .width-container {
    width: 920px;
  }

  .header .logo-container {
    order: 3;
  }

  .header .navbar {
    display: none;
  }

  .hamburgerMenuContainer {
    height: fit-content;
    position: static;
    width: auto;
    top: 0;
    right: 0;
    background: none;
    height: auto;
  }

  .hamburgerMenuContainer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }

  .hamburgerMenuContainer li:not(:last-child) {
    border-bottom: none;
  }

  .hamburgerMenuClose {
    animation: none;
  }

  .hamburgerMenuOpen {
    animation: none;
  }

  .hamburgerMenuContainer li a {
    padding: 23px 10px;
    margin: 0 3px;
  }

  .hamburgerMenuContainer li a:first-child {
    margin: 0;
  }

  .hamburgerMenuContainer li a img {
    width: 16px;
  }

  .hamburgerMenuContainer li::after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0px;
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-right: 1px solid hsla(0, 0%, 100%, .1);
  }

  .logo-container::after,
  .logo-container::before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.134);
    border-right: 1px solid rgba(255, 255, 255, 0.066);
  }

  .header .logo {
    margin: 18px;
  }

  .header .login {
    position: relative;
    right: 84px;
    margin-left: 40px;
    display: flex;
    align-items: center;
  }

  .header .user {
    display: none;

  }

  .header .login .user-container {
    display: flex;
    align-items: center;
    background: #5a5959;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 3px 0px #363434;
    cursor: pointer;
    transition: all ease .2s;
  }

  .header .login .user-container:hover {
    background: #656565;
  }

  .user-container span {
    font-size: .6rem;
    padding-left: 30px;
  }

  .header .user-container .fa-solid {
    font-size: .8rem;
  }

  .section-search .serachBox {
    flex-direction: row;
  }

  .section-search .serachBox>form {
    flex-direction: row;
    align-items: center;
    width: 940px;
  }

  .section-search .serachBox button {
    margin-top: 0;
    width: 20%;
    margin-right: 2px;
  }

  .selectCity {
    display: flex;
  }

  .section-search .serachBox label,
  .selectCity {
    width: 30%;
  }


  .section-search .Introduction {
    width: 720px;
  }

  .section-search .Introduction h1 {
    font-size: 2.1rem;
    font-weight: bolder;
  }

  .section-search .Introduction p {
    font-size: 1rem;
  }
}


@media screen and (min-width: 1200px) {
  .width-container {
    width: 1160px;
  }

  .header .login {
    right: 220px;
  }

  .section-search .serachBox>form {
    width: 1140px;
  }
}